@{
    ViewBag.Title = "Contact - The Local Geekery";
}

<div class="jumbotron">
    <h1 class="main-title">The Local Geekery</h1>
    <div class="col-md-6">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        17000 Concession Road 10<br />
        Schomberg, ON  L0G 1T0<br />
        <abbr title="Phone">P:</abbr>
        905-939-6332
    </address>

    <address>
        <strong>General inquiries:</strong>   <a href="mailto:inquiries@thelocalgeekery.com">inquiries@thelocalgeekery.com</a><br />
        <strong>Menu suggestions:</strong> <a href="mailto:menu@thelocalgeekery.com">menu@thelocalgeekery.com</a>
    </address>
    </div>
    <div class="col-lg-offset-6">
        <div class="thumbnail">
            <img src="~/Assets/images/googleMaps.jpg" alt="Google Map view">
            <div class="caption">
                <p>Google Maps location view.</p>
            </div>
        </div>
    </div>
</div>
