@{
    ViewBag.Title = "Home - The Local Geekery";
}

<div class="jumbotron">
    <h1 class="main-title">The Local Geekery</h1>
    <p class="lead">
             Welcome to The Local Geekery's webpage! Located just outside of Schomberg, The Local Geekery is a small lunch café catering to
        geeks of all fandoms.
        <br />
        <br />
             With a casual, relaxed environment, you'll feel right at home discussing the latest episode of your favorite TV with your friends,
        or bunkering down on your own, novel in hand.
        <br />
        <br />
             Menu items are limited and cycle regularly. If you don't see something from your fandom this month, you can check back next month.
        We also take suggestions if you have an idea of geeky eat or drink you'd like us to attempt!
        <br />
        <br />
        <button type="button" class="btn btn-lg btn-default menu-button">@Html.ActionLink("Check out our Menu!", "Index", "Menu")</button>
    </p>

    <div class="row">
        <p>The interior of the restaurant.</p>
        @*Images taken from the following article: http://io9.gizmodo.com/the-greatest-science-fiction-themed-bars-and-restaurant-512256764*@
        <div class="col-md-6">
            <div class="thumbnail center-block">
                <img src="~/Assets/images/interior1.jpg" alt="Interior view 1" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail center-block">
                <img src="~/Assets/images/interior2.jpg" alt="Interior view 2" />
            </div>
        </div>
    </div>
</div>
